<div class="background">
  <div class="card">
    <div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
      <img src="../../../assets/bharatlaw (1).png" width="100" height="100">
      </div>
    <h1>Forget Password</h1>   
<form [formGroup]="forgotForm" (ngSubmit)="forgot(forgotForm.value.email)">
  <div class="input-field">
    <input name="email" type="email" placeholder="Email" autocomplete="nope" formControlName="email"
      [ngClass]="{ error: getControl('email')?.errors && getControl('email')?.touched }">
      <br>
    <span *ngIf="getControl('email')?.errors && getControl('email')?.touched" style="color: red;">Email is
      required.</span>
      </div>
  <button type="submit">Submit</button>
</form>
