<app-header></app-header>
<div class="background">
  <div class="card1">
    <div style="display: flex; justify-content: center; align-items: center;">
      <img src="../../../assets/bharatlaw (1).png" width="100" height="100">
    </div>
    <h2 style="margin-top: 10px;">Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
      <div class="input-field">
        <input type="password" name="password" id="" formControlName="password" placeholder="Current Password"
          [ngClass]="{ error: getControl('password')?.errors && getControl('password')?.touched }" style="margin-bottom: 10px;">
        <br>
        <span *ngIf="getControl('password')?.errors && getControl('password')?.touched"
          style="color: red;margin-left: 25px;">Password is
          required.</span>
      </div>
      <div class="input-field">
        <input type="password" name="newPassword" id="" formControlName="newPassword" placeholder="New Password"
        [ngClass]="{ error: getControl('newPassword')?.errors && getControl('newPassword')?.touched }" style="margin-top: 10px;">
      <br>
      <span *ngIf="getControl('newPassword')?.errors && getControl('newPassword')?.touched"
        style="color: red;margin-left: 25px;">Password is
        required.</span>
      </div>
      <button type="submit">Submit</button>
      <a routerLink="/dashboard" style="margin-top: 20px; color: black; text-decoration: none;">Back</a>
    </form>
  </div>
</div>

