<div class="background">
  <div class="card1">
    <div style="display: flex; justify-content: center; align-items: center;">
      <img src="../../../assets/bharatlaw.svg" width="100" height="100">
    </div>
    <h2>Forget Password</h2>
    <form [formGroup]="updateForm" (ngSubmit)="updatePassword(updateForm.value.password)">
      <div class="input-field">
        <input type="password" name="password" id="" formControlName="password" placeholder="Enter New Password"
          [ngClass]="{ error: getControl('password')?.errors && getControl('password')?.touched }">
        <br>
        <span *ngIf="getControl('password')?.errors && getControl('password')?.touched"
          style="color: red;margin-left: 25px;">Password is
          required.</span>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>