
<div class="sidebar">
    <button class="add-project"  (click)="openAddResearchModal()">+ New Research</button>
    <ul class="project-list">
        <li *ngFor="let research of researches">
          <div class="research-item">
            <i class="fa-solid fa-folder"
        style="padding-top: 1px; padding-left: 10px; color:goldenrod; size: 30px; font-size: 20px;"></i>
            <div class="research-content">
              <div class="research-title">{{ research.title }}</div>
              <div class="creation-date">{{ research.creationDate }}</div>
            </div>
          </div>
        </li>
        
    </ul>
  </div>
  <div class="bg">
    <img src="../../assets/large image.png"><br>
    <div>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="What is your Query" name="email" id="email" [(ngModel)]="searchQuery">
            <i class="fa fa-search search-icon"></i>
          </div>
        <br> <select class ="options">
            <option value="option1">Advanced Filter</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option3">Option 3</option>
          </select>
          <span class="arrow"></span>
        </div>
    </div><br>
