<div class="sidebar">
  <ul class="project-list">
    <button class="add-project" (click)="openPopup()">+ New Research</button>
    <li *ngFor="let research of researches">
      <div class="research-item">
        <i class="fa-solid fa-folder"
          style="padding-left: 10px; color:goldenrod; size: 30px; font-size: 20px; margin-top: 2px;"></i>
        <div class="research-content">
          <div class="research-title">{{ research.name }}</div>
          <div class="creation-date">{{ getCurrentDate() }}</div>
        </div>
      </div>
    </li>
  </ul>

  <div class="details">
    <span style="border: .5px solid gray; width: 90%; position: absolute; left: 10px;"></span>
    <div class="contant-deatls">
      <div class="rounded-circle">
        <span style="position: absolute; left: 17px; bottom: 31px;">CL</span>
      </div>
      <h6 style="color: white; margin-left: 7px; margin-top: 8px;">Chirag Labha</h6>
      <a href="">
        <i class="fa-solid fa-right-from-bracket"
          style="color: white; margin-left: 39px; font-size: 21px; margin-top: 8px;"></i>
      </a>
    </div>
  </div>
</div>

<!-- <div class="bg">
  <img src="../../assets/large image.png"><br>
  <div>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="What is your Query" name="search" id="search" />
      <i class="fa fa-search search-icon" style="position: absolute; top: 356px; right: 370px;"></i>
    </div>
  </div>
</div> -->

<section class="wrap">
  <div class="container">
    <div class="row  justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="form-box form-box-width" [style.height]="show ? '100vh' : '' "
          style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-left: 110px;">
          <div class="login-img" *ngIf="show">
            <!-- <img src="assets/images/logo.png" /> -->
            <img src="../../assets/large image.png" style="margin-bottom: 40px;">
          </div>
          <form [formGroup]="queryForm" (ngSubmit)="getResultsBasedOnSearch()">
            <span *ngIf="show">
              <div class="form-group searchgroup" formArrayName="queries"
                *ngFor="let query of queries.controls; let i=index; let last = last">
                <input type="text" class="form-ctrl form-control" placeholder="Tell us about your query"
                  [formControlName]="i"
                  style="width: 500px; height: 45px; background: whitesmoke; border: none; outline: none;">
                <div *ngIf="queries.controls[i].invalid && (queries.controls[i].dirty || queries.controls[i].touched)">
                  <span class="text-danger mt-2 d-block" *ngIf="queries.controls[i].hasError('required')">
                    Query is required!
                  </span>
                </div>
              </div>
            </span>


            <div class="login-img" *ngIf="!show">
              <img src="../../assets/large image.png"
                style="margin-bottom: 20px; padding-right: 200px; margin-top: 10px;">
            </div>
            <span *ngIf="!show">
              <div class="form-group searchgroup" formArrayName="queries"
                *ngFor="let query of queries.controls; let i=index; let last = last"
                style="margin-bottom: 20px; margin-right: 194px;">
                <div style="display: flex;">
                  <input type="text" class="searchDetails" placeholder="Tell us about your query" [formControlName]="i"
                    style="width: 650px; height: 45px; padding-left: 10px; background: whitesmoke; border: none; outline: none;">
                  <button [disabled]="!queryForm.valid"
                    style="background: #0A004D; color: white; width: 44px; height: 44px;">
                    <i class="fa fa-search search-icon"></i>
                  </button>
                </div>
                <div *ngIf="queries.controls[i].invalid && (queries.controls[i].dirty || queries.controls[i].touched)">
                  <span class="text-danger mt-2 d-block" *ngIf="queries.controls[i].hasError('required')">
                    Query is required!
                  </span>
                </div>
              </div>
            </span>





            <!-- <button type=" submit" class="btn-left btn btn-light"> -->
            <!-- <img src="assets/images/search.png" /> -->
            <!-- </button> -->
            <!-- (ngModelChange)="getDefaultMetadataList()" -->
            <!-- <button type="submit" *ngIf="queries.controls.length > 1" (click)="removeQueries(i)"
                [ngClass]="queries.controls.length > 1?'btn-plus':'btn-closs'" class="btn btn-light"> -->
            <!-- <img src="assets/images/close.png" /> -->
            <!-- </button> -->
            <!-- <button type="submit" *ngIf="last" (click)="addQueries()" class="btn-plus btn btn-light"> -->
            <!-- <img src="assets/images/plus.png" /> -->
            <!-- </button> -->
            <div class="Advancedfilters">
              <div class="d-flex justify-content-between align-items-center">
                <div *ngIf="show">
                  <h6 data-bs-toggle="collapse" (click)="enableFilter()" data-bs-target="#collapseAdvancedfilters"
                    style="margin-top: 24px; margin-left: 180px;">
                    Advanced
                    filters <span class="fa fa-angle-down"></span></h6>
                </div>
                <div class="btns" *ngIf="!advancedFilter">
                  <!-- <button type="reset" class="btn btn-link btn-submit" (click)="resetForm()">Reset</button> -->
                  <button [disabled]="!queryForm.valid" *ngIf="show"
                    style="position: absolute; top: 335px; right: 385px; border: none; background: transparent;">
                    <i class="fa fa-search search-icon"></i>
                  </button>
                  <!-- <button type="submit" [disabled]="!queryForm.valid"
                    class="btn btn-secondary btn-submit">Submit</button> -->
                </div>
              </div>
              <div class="collapse" id="collapseAdvancedfilters">
                <hr />
                <div class="row" formGroupName="advancedFilters">
                  <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <ng-select class="form-control" [items]="courts" bindLabel="name" bindValue="name" type="text"
                        formControlName="court" placeholder="Court">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <ng-select [items]="benchMetaData" bindLabel="name" bindValue="name" type="text"
                        formControlName="bench" placeholder="Bench"
                        (search)="getMetaDataListBaseOnInput($event.term, 'bench')">
                      </ng-select>
                    </div>
                  </div>
                  <!-- <div class="col-12 col-sm-6 col-md-6">
                      <div class="form-group">
                          <select class="form-ctrl form-control">
                              <option>Case Type</option>
                          </select>
                      </div>
                  </div> -->
                  <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <ng-select [items]="caseNumbersMetaData" bindLabel="name" bindValue="name" type="text"
                        formControlName="case_number" placeholder="Case Number"
                        (search)="getMetaDataListBaseOnInput($event.term, 'case_numbers')">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <ng-select [items]="citationsMetaData" bindLabel="name" bindValue="name" placeholder="Citation"
                        type="text" formControlName="citation"
                        (search)="getMetaDataListBaseOnInput($event.term, 'citations')">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <ng-select [items]="actsMetaData" bindLabel="name" bindValue="name" type="text"
                        formControlName="act" placeholder="Act"
                        (search)="getMetaDataListBaseOnInput($event.term, 'acts')">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <ng-select [items]="sectionsMetaData" bindLabel="name" bindValue="name" type="text"
                        formControlName="section" placeholder="Section"
                        (search)="getMetaDataListBaseOnInput($event.term, 'sections')">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <ng-select [items]="petitionerMetaData" bindLabel="name" bindValue="name" type="text"
                        formControlName="petitioner" placeholder="Petitioner"
                        (search)="getMetaDataListBaseOnInput($event.term, 'petitioner')">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <ng-select [items]="respondentMetaData" bindLabel="name" bindValue="name" type="text"
                        formControlName="respondent" placeholder="Respondent"
                        (search)="getMetaDataListBaseOnInput($event.term, 'respondent')">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6" formGroupName="judgement_year">
                    <div class="form-group">
                      <div class="d-flex judgementyear">
                        <input type="text" disabled class="form-ctrl form-control" placeholder="Judgement year " />
                        <select class="form-ctrl form-control" formControlName="judgementFrom">
                          <option [ngValue]="null" disabled>From</option>
                          <ng-container *ngFor="let year of yearsList">
                            <option value="{{year}}">{{year}}</option>
                          </ng-container>
                        </select>
                        <select class="form-ctrl form-control" formControlName="judgementTo">
                          <option [ngValue]="null" disabled>To</option>
                          <ng-container *ngFor="let year of yearsList">
                            <option value="{{year}}">{{year}}</option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="advancedFilter">
                  <div class="col-12 col-sm-12 text-end">
                    <button type="reset" class="btn btn-link btn-submit" (click)="resetForm()">Reset</button>
                    <button type="submit" [disabled]="!queryForm.valid"
                      class="btn btn-secondary btn-submit">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <ng-container *ngIf="isResultsVisible">
      <app-search-result></app-search-result>
    </ng-container>
  </div>
</section>

<!-- Loader -->
<div class="loader-screen" *ngIf="loader">
  <div class="loading-dots">
    <div class="loading-dots--dot"></div>
    <div class="loading-dots--dot"></div>
    <div class="loading-dots--dot"></div>
  </div>
</div>