.sidebar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  width: 230px;
  background-color: #0A004D;
  overflow: auto;
}

.project-list {
  font-size: 1 px;
  list-style-type: none;
  padding: 20px;
  margin-bottom: 20px;
}

.research-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.research-title {
  font-weight: bold;
  font-size: 14px;
  margin-left: 6px;
}

.creation-date {
  font-size: 12px;
  color: gray;
  margin-top: 6px;
  margin-left: 8px;
}

.research-item {
  display: flex;
  justify-content: flex-start;
}

.add-project {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid #fff;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
}

.add-project:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 250px;
}

.search-icon {
  font-size: 16px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  text-align: left;
  margin-left: 5px;
}

.bg input {
  width: 400px;
  padding: 14px;
  padding-left: 10px;
  background-color: whitesmoke;
  color: #141313;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333;
}

.dropdown select option {
  font-size: 3px;
  color: #999;
  border: none;
}

.options {
  border: none;
  background-color: transparent;
  font-size: 14px;
  text-align: center;
  padding-left: 162px;
  color: #999;
}

.project-list li {
  cursor: pointer;
  margin-bottom: 18px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

.details {
  display: flex;
  margin-top: 40px;
}

.boder {
  border-top: 1px solid white;
}

.rounded-circle {
  background-color: white;
  width: 35px;
  height: 35px;
  margin-left: 9px;
}

.contant-deatls {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-content p {
  margin-bottom: 24px;
}

.close{
  background-color: white;
  color: black;
  border: none;
}