<div class="background">
  <div class="card">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">

      <input type="text" placeholder="First Name" name="firstName" id="firstName" formControlName="firstName"
        [ngClass]="{'error': getControl('firstName')?.errors && getControl('firstName')?.touched}">
      <span style="color: red;" *ngIf="
                registerForm.controls['firstName'].invalid &&
                registerForm.controls['firstName'].touched
              " class="text-danger">
        First Name is required
      </span>

      <input type="text" placeholder="Last Name" name="lastName" id="lastName" formControlName="lastName"
        [ngClass]="{'error': getControl('lastName')?.errors && getControl('lastName')?.touched}">

      <span style="color: red;" *ngIf="
                      registerForm.controls['lastName'].invalid &&
                      registerForm.controls['lastName'].touched
                    " class="text-danger">
        Last Name is required
      </span>

      <input type="text" placeholder="Contact Details" name="contactDetails" id="contactDetails" formControlName="contactDetails"
        [ngClass]="{'error': getControl('contactDetails')?.errors && getControl('contactDetails')?.touched}">

      <span style="color: red;" *ngIf="
                    registerForm.controls['contactDetails'].invalid &&
                    registerForm.controls['contactDetails'].touched
                  " class="text-danger">
        Contact Details is required
      </span>

      <input type="text" placeholder="Email" name="email" id="email" formControlName="email"
        [ngClass]="{'error': getControl('email')?.errors && getControl('email')?.touched}">

      <span style="color: red;" *ngIf="
              registerForm.controls['email'].invalid &&
              registerForm.controls['email'].touched
            " class="text-danger">
        Please enter a valid email address
      </span>

      <input type="text" placeholder="Organization" name="organization" id="organization" formControlName="organization"
        [ngClass]="{'error': getControl('organization')?.errors && getControl('organization')?.touched}">
      <span style="color: red;" *ngIf="
                    registerForm.controls['organization'].invalid &&
                    registerForm.controls['organization'].touched
                  " class="text-danger">
        Organization is required
      </span>

      <input type="text" placeholder="Password" name="password" id="password" formControlName="password"
        [ngClass]="{'error': getControl('password')?.errors && getControl('password')?.touched}">

      <span style="color: red;"
        *ngIf="registerForm.get('password')?.errors?.['required'] && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
        Password is required.
      </span>

      <input type="text" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword"
        formControlName="confirmPassword"
        [ngClass]="{'error': getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched}">

      <span style="color: red;" *ngIf="
                        registerForm.controls['confirmPassword'].invalid &&
                        registerForm.controls['confirmPassword'].touched" class="text-danger">
        Confirm Password is required </span>

      <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
      <div class="signin-link">
        Already have an account? <a routerLink="/user/signin"><b>Sign In</b></a>
      </div>

    </form>

  </div>
</div>
